* a:link,
a:visited,
a:active {
  text-decoration: none;
}
.outline {
  outline: none;
}
ul {
  list-style: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  background-color: lime;
}
.logo-inicio {
  color: #2196f3;
  font-weight: normal;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  /* line-height: 31px; */
  letter-spacing: 0.04em;
}
.site-nav {
  color: black;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.site-nav:hover,
.site-nav:focus {
  color: #2196f3;
}
.contact-links {
  color: black;
}
.contact-links:hover,
.contact-links:focus {
  color: #2196f3;
}
.current {
  color: #2196f3;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.container-nav {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  display: flex;
  gap: 30px;
}
.container-header {
  width: auto;
  background-color: teal;
  justify-content: center;
  align-content: center;
  display: flex;
}
.boton-solicitud {
  color: white;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  width: 261px;
  height: 50px;
  cursor: pointer;
  letter-spacing: 0.5px;
}
.boton-solicitud:hover,
.boton-solicitud:focus {
  color: white;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  width: 261px;
  height: 50px;
  cursor: pointer;
  box-shadow: #000000 0px 4px 4px 0px;
}
.slogan-top {
  color: white;
  font-size: 22px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 900;
  text-align: center;
  background-color: #2f303a;
  align-items: center;
  width: auto;
  line-height: 60px;
  letter-spacing: 0.03em;
  display: block;
  border-style: none;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
}
.container-slogan-top {
  width: 522px;
  padding-top: 100px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 100px;
  margin: auto;
  align-items: center;
  background-color: #2f303a;
}
.descripcion-bloque {
  width: 1200px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.descripcion-titulos {
  font-family: 'roboto', Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 14px;
  color: #212121;
  line-height: 16.41px;
}
.descripcion-titulos:hover,
.descripcion-titulos:focus {
  font-family: 'roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #757575;
}
.parrafos-descripcion {
  color: #757575;
  font-family: 'roboto', Arial, Helvetica, sans-serif;
  line-height: 24px;
  letter-spacing: 3%;
  font-size: 14px;
}
.que-ofrecemos-container {
  width: 1200;
  height: 486;
}
.que-ofrecemos-titulo {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 36px;
  letter-spacing: 3%;
  color: #212121;
  text-align: center;
}
.imagenes-ofrecemos {
  background: rgb(1, 5, 255);
  box-sizing: border-box;
  display: inline-flex;
  justify-items: auto;
  display: flex;
  gap: 30px;
  justify-items: center;
}
.imagenes-ofrecemos-container {
  width: 1200px;
  justify-items: center;
  background-color: orangered;
}
.equipo {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 36px;
  letter-spacing: 3%;
  color: #212121;
  text-align: center;
}
.container-equipo {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  justify-content: center;
  background-color: yellow;
}
.lista-img-equipo {
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  display: inline-flex;
  display: flex;
  gap: 30px;
  justify-content: center;
}
.container-cards {
  width: 270px;
  background-color: #ffffff;
  padding-bottom: 15px;
  justify-content: center;
}
.container-cards:hover {
  width: 270px;
  background-color: #ffffff;
  padding-bottom: 15px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  justify-content: center;
}
.container-cards-position {
  width: 1200px;
  background-color: #d0ff00;
  display: wrap;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 15px;
  justify-content: center;
}
.card {
  width: 370px;
  height: 404px;
  background-color: orange;
  display: inline-block;
  flex-wrap: nowrap;
  text-align: justify;
}
.card:hover,
.card::shadow {
  width: 370px;
  height: 404px;
  border: #ff0000 10px;
  display: inline-block;
}
.nombre {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bolder;
  line-height: 10px;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}
.profesion {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
}
.logo-footer {
  color: #2196f3;
  font-weight: normal;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.04em;
  width: 1200px;
  padding: 40px;
}
.direccion {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff99;
}
.direccion:hover,
.direccion:focus {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
}
.footer {
  background: #2f303a;
  width: auto;
  /* display: flex; */
  background-color: #2f303a;
  margin-top: 94px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.container-contact {
  max-width: 240px;
  line-height: 10px;
}
.email-footer {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff99;
}
.email-footer:hover,
.email-footer:focus {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
}
.tel-footer {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff99;
}
.tel-footer:hover,
.tel-footer:focus {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
}
.botones-portafolio {
  display: flex;
  gap: 15px;
  justify-content: center;
  background-color: #2196f3;
}
.boton-top-portafolio {
  width: 128px;
  height: 38px;
  top: 186px;
  left: 712px;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  border: none;
  background-color: #2121;
  cursor: pointer;
}
.boton-top-portafolio:hover,
.boton-top-portafolio:focus {
  width: 128px;
  height: 38px;
  top: 186px;
  left: 712px;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #ffffff;
  border: none;
  background-color: #2196f3;
  cursor: pointer;
}
.nombre-de-producto {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: left;
  width: 322px;
  /* box-sizing: content-box; */
  padding: 10px;
  box-sizing: border-box;
  margin: 0px;
}
.nombre-de-producto-poster {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: left;
  width: 322px;
  box-sizing: content-box;
  padding: 10px;
  /* box-sizing: border-box; */
  margin: 0px;
}

.categoria {
  font-family: 'Roboto', sans-serif;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 0;
  letter-spacing: 0.03rem;
  text-align: left;
  width: 322px;
  padding: 10px;
  margin-bottom: 0px;
  box-sizing: border-box;
}
.categoria-2 {
  font-family: 'Roboto', sans-serif;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 0;
  letter-spacing: 0.03rem;
  text-align: left;
  width: 322px;
  padding: 10px;
  margin-bottom: 0px;
  box-sizing: border-box;
}
.footer-portafolio {
  background: #2f303a;
  width: auto;
}
.direccion-portafolio {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff99;
}
.direccion-portafolio:hover,
.direccion-portafolio:focus {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
}
.email-footer-portafolio {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff99;
}
.email-footer-portafolio:hover,
.email-footer-portafolio:focus {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
}
.tel-footer-portafolio {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff99;
}
.tel-footer-portafolio:hover,
.tel-footer-portafolio:focus {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
}
.container-text {
  width: 270px;
  gap: 30;
}
/* Este es el fin del codigo */
