* a:link,
a:visited,
a:active {
  text-decoration: none;
}

ul {
  list-style: none;
}
.logo-inicio {
  color: #2196f3;
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-align: left;
}
.site-nav {
  color: black;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.site-nav:hover {
  color: #2196f3;
}
.contact-links {
  color: black;
}
.contact-links:hover {
  color: #2196f3;
}
.current {
  color: #2196f3;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.boton-solicitud {
  color: white;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  background-color: #2196f3;
  border: none;
  radius: 4px;
  width: 261px;
  height: 50px;
  cursor: pointer;
}
.boton-solicitud:hover {
  color: white;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  background-color: #2196f3;
  border: none;
  radius: 4px;
  width: 261px;
  height: 50px;
  cursor: pointer;
  box-shadow: #000000 0px 4px 4px 0px;
}
.slogan-top {
  color: white;
  font-size: 44px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: #2f303a;
  align-items: center;
  width: 1600px;
  height: 400px;
  line-height: 60px;
  letter-spacing: 0.03em;
  display: block;
  border-style: none;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
}
.descripcion-titulos {
  font-family: 'roboto', Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 14px;
  color: #212121;
  line-height: 16.41px;
}
.descripcion-titulos:hover {
  font-family: 'roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #757575;
}
.parrafos-descripcion {
  color: #757575;
  font-family: 'roboto', Arial, Helvetica, sans-serif;
  line-height: 24px;
  letter-spacing: 3%;
  font-size: 14px;
}
.que-ofrecemos-titulo {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 36px;
  letter-spacing: 3%;
  color: #212121;
  text-align: center;
}
.imagenes-ofrecemos {
  background: white;
  box-sizing: border-box;
}
.equipo {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 36px;
  letter-spacing: 3%;
  color: #212121;
  text-align: center;
}
.nombre {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bolder;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
}
.profesion {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
}
.logo-footer {
  color: #2196f3;
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-align: left;
}
.direccion {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
}
.footer {
  background: #2f303a;
  width: 1600px;
  height: 252px;
}
.email-footer {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff99;
}
.tel-footer {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff99;
}
.boton-top-portafolio {
  width: 128px;
  height: 38px;
  top: 186px;
  left: 712px;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  border: none;
  background-color: #2121;
}
.boton-top-portafolio:hover {
  width: 128px;
  height: 38px;
  top: 186px;
  left: 712px;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #ffffff;
  border: none;
  background-color: #2196f3;
}
.nombre-de-producto {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
  width: 322px;
  height: 36px;
  top: 588px;
  left: 239px;
}
.categoria {
  font-family: 'Roboto', sans-serif;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: left;
  width: 322px;
  height: 30px;
  top: 628px;
  left: 239px;
}
.footer-portafolio {
  background: #2f303a;
  width: 1600px;
  height: 252px;
}
.direccion-portafolio {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
}
.email-footer-portafolio {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff99;
}
.tel-footer-portafolio {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff99;
}
/* Este es el fin del codigo */
